<template>
  <div class="panel-container">
      <img :src="inputImage" :alt="input.image" class="input-image" v-if="input.image != undefined">
    <div class="panel-text-container">
      <font-awesome-icon icon="x" class="delete-product" @click="$emit('deleteProduct',input)" v-if="namePanel=='cart'"/>
      <span class="panel-name">
        {{ input.name }}
      </span>
      <span class="panel-prix" v-if="input.price">
        {{ input.price }}
      </span>
      <span class="panel-description" v-if="input.description">
        {{ input.description }} 
      </span>
    </div>
  </div>
  </template>
  
  <script setup>
  const { emit } = defineEmits(['deleteProduct']);
  const props = defineProps({
    input: {
      type: Object,
      required: true
    },
    namePanel:{
      type:String
    }
  });
  const input = props.input;
  const inputImage =  `/src/assets/restaurant/${input.image}`;
  </script>
  
  
  <style scoped>
  .panel-container{
    width: fit-content;
    margin: 1vh 0;
    display: flex;
      flex-direction: column;
  }
  .input-image{
    width: 250px;
    height: 200px;
    object-fit: cover;
    border-top-left-radius: 5px; 
    border-top-right-radius: 5px; 
  }
  .panel-text-container{
    position: relative;
    padding: 1vw;
    background-color: #162d1d;;
  color: #d6af06;
    border-bottom-left-radius: 5px; 
    border-bottom-right-radius: 5px; 
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .input-name{
    font-weight: 600;
    overflow: hidden;
  }
  .delete-product{
    cursor: pointer;
    position: absolute;
      right: 10px;
      top: 10px;
  }
  </style>
  
  