<template>
  <div class="burger-menu">
    <font-awesome-icon icon="x" class="close-burger-menu-btn" @click="$emit('close',true)"/>
    <router-link to="/orders" class="panel-section"  @click="$emit('close',true)">
      <font-awesome-icon icon="clipboard-list" />
      <span>Commandes</span>
    </router-link>
    <router-link to="/wallet" class="panel-section" @click="$emit('close',true)" v-if="role === 'client'">
      <font-awesome-icon icon="clipboard-list" />
      <span>Porte-feuille</span>
    </router-link>
    <router-link to="/promotions" class="panel-section" @click="$emit('close',true)" v-if="role === 'client'">
      <font-awesome-icon icon="ticket" />
      <span> Promotions</span>
    </router-link>
    <router-link to="/order" class="panel-section" @click="$emit('close',true)" v-if="role === 'client'">
      <font-awesome-icon icon="ticket" />
      <span> Promotions</span>
    </router-link>
    <router-link to="/menu" class="panel-section" @click="$emit('close',true)" v-if="role === 'restaurateur'">
      <font-awesome-icon icon="utensils" />
      <span> Menu</span>
    </router-link>
    <router-link to="/profile" class="panel-section" @click="$emit('close',true)">
      <font-awesome-icon icon="user-circle" />
      <span class="hidden-text"> Mon compte</span>
    </router-link>
</div>
</template>

<script setup>
const { emit } = defineEmits(['close']);

const role = localStorage.getItem('role')
</script>


<style scoped>
.burger-menu {
  width: 20vw;
  position: absolute;
  height: 100vh;
  background: #efefef;;
  display: flex;
  flex-direction: column;
  padding-top: 10vh;
  z-index: 1;
}
svg{
      font-size: 20px;
      cursor: pointer;
}
.close-burger-menu-btn{
      position: absolute;
      right: 10px;
      top: 10px;
}
span{
      overflow: hidden;
    text-overflow: ellipsis;
}
@media (max-width: 720px) {
      span{
            display:none;
      }
      .panel-section{
            justify-content: center;
      }
}
</style>