<template>
  <header class="header">
    <router-link to="/home"><img src="../assets/title.png" alt="Cesi Eat Logo" class="logo" /></router-link>
    <div>
      <router-link class="internal-link" to="/register">Sign In</router-link>
      <router-link class="internal-link" to="/login">Log In</router-link>
    </div>
  </header>
</template>

<script setup>
import { ref } from 'vue';
import BurgerMenu from './BurgerMenu.vue';
import { store } from '@/store/store';

const isMenuOpen = ref(false); 

const toggleMenu = () => {
  isMenuOpen.value = !isMenuOpen.value;
};

const closeMenu = () => {
  isMenuOpen.value = false;
};
</script>

<style scoped>
.header {
  background-color: #162d1d; /* Couleur de fond noire */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}

.logo {
  width: 150px; /* Largeur de l'image */
  height: auto; /* Hauteur ajustée automatiquement */
}

svg {
  font-size: 24px; 
  cursor: pointer;
  color:#d6af06;
}

svg:hover{
  transform:scale(1.2);
}

link:visited {
  outline-color: orange; /* Visited links have an orange outline */
  background-color: green; /* Visited links have a green background */
  color: yellow; /* Visited links have yellow colored text */
}

link:link {
  outline: 1px dotted blue;
  background-color: white;
}
</style>
