<template>
  <header class="header">
    <font-awesome-icon icon="bars" @click="toggleMenu" />
    <router-link to="/">    <img src="../assets/title.png" alt="Cesi Eat Logo" class="logo" /></router-link>
    <div class="input-container">
      <font-awesome-icon icon="search" class="search-input-logo" />
      <input type="text" class="search-input" placeholder="De quoi avez-vous envie ?" v-model="restaurantInput" @input="getRestaurantSuggestions(s)">
      <div v-if="restaurantSuggestions.length > 0" class="suggestion-list-container">
        <div v-for="restaurant in restaurantSuggestions" class="suggestion-list"  @click="selectRestaurant(restaurant)">
          <span class="panel-name">
            {{ restaurant.restaurantName }}
          </span>
        </div>
      </div>
      <router-link to="/cart" class="cart-logo-container"><font-awesome-icon icon="shopping-cart" /><span class="number-of-product-in-cart" v-if="store.products.length>0">  {{ store.products.length  }}</span></router-link>
      <div class="logout" @click="logout()"><font-awesome-icon icon="right-from-bracket" /></div>
    </div>
  </header>
  <div class="router-container">
    <BurgerMenu v-show="isMenuOpen" @close="closeMenu" />
  </div>  
</template>

<script setup>
import { ref,onMounted } from 'vue';
import { useRouter } from 'vue-router';
import BurgerMenu from './BurgerMenu.vue';
import { store } from '@/store/store';
import axios from 'axios';

const router = useRouter();

const isMenuOpen = ref(false); 
const restaurantSuggestions = ref([]); 
const restaurants= ref([]); 
const restaurantInput= ref(); 

const toggleMenu = () => {
  isMenuOpen.value = !isMenuOpen.value;
};

const closeMenu = () => {
  isMenuOpen.value = false;
};
onMounted(async () => {
      try {
        //get cLient Id Mock TODO remove
        restaurants.value= (await axios.get('http://localhost/api/restaurant/')).data.data;

      } catch (error) { 
        console.error('Erreur lors de la récupération des restaurants :', error);
      }
});

function selectRestaurant(restaurant) {
    const restaurantId = restaurant._id;

    const routeParams = {
        name: 'Restaurant',
        params: { restaurantName: restaurant.restaurantName },
        query: { restaurantId: restaurantId }
    };

    router.push(routeParams);
    restaurantSuggestions.value=[];
    restaurantInput.value="";
} 
function getRestaurantSuggestions(){
    if(restaurantInput.value === '')restaurantSuggestions.value=[];
    else{
      restaurantSuggestions.value = restaurants.value.filter(r=>r.restaurantName.toLowerCase().includes(restaurantInput.value.toLowerCase()));
    }
  }
  function logout(){
    sessionStorage.removeItem('user')
    sessionStorage.removeItem('products')
    store.isLogin = false;
    //console.log(this.$cookies.get("user_session"));
    //this.$cookies.remove("user_session");
    router.push('/login');
  }
</script>

<style scoped>
.router-container{
  display:flex;
  height: 100%;
}
.router{
  width:100%;
}
.suggestion-list-container{
  position: absolute;
    top: 30px;
  width:78%;
}
.logout{
  margin-bottom: 2px;
}
.suggestion-list{
  display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
}
.panel-name{
  padding:1vh;
  cursor: pointer;
}
.header {
  background-color: #162d1d; /* Couleur de fond noire */
  padding: 10px 0; /* Marge intérieure en haut et en bas */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}

.logo {
  width: 150px; /* Largeur de l'image */
  height: auto; /* Hauteur ajustée automatiquement */
}

svg {
  font-size: 24px; 
  cursor: pointer;
  color:#d6af06;
}

svg:hover{
  transform:scale(1.2);
}
.input-container{
  display: flex;
    align-items: center;
    border-radius: 5px;
    gap:15px;
    position: relative;
}
.search-input{
  padding:5px 20px 5px 30px;
  border-radius: 5px;
}
.search-input-logo{
  position: absolute;
    left: 5px;
    font-size: 18px;
}
.search-input-logo:hover{
  transform: none;
}

.router{
  width:100%
}

.number-of-product-in-cart{
  padding-left: 5px;
  color:black;
  right: 10px;
  background: #d6af06;
  font-weight: 600;
  position: absolute;
  top: -10px;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  transform:scale(1.2);
}
</style>
