<script setup>
defineProps({
  message: {
    type: String,
    required: true
  }
})
</script>
<template>
  <div class="modal-backdrop">
    <div class="modal">

      <section class="modal-body">
        <slot name="body">
          {{ message }}
        </slot>
      </section>

      <footer class="modal-footer">
        <button
            type="button"
            class="btn-green"
            @click="close"
        >
          OK
        </button>
      </footer>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Modal',
  methods: {
    close() {
      this.$emit('close');
    },
  },
};
</script>

<style>
.modal-backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  display: flex;
  background: #FFFFFF;
  box-shadow: 2px 2px 20px 1px;
  white-space: normal;
  word-wrap: break-word;
  flex-direction: column;
  justify-content: space-between;
  width: 400px;
  height: 200px;
  border-radius: 10px;
}

.modal-footer {
  padding: 15px;
  display: flex;
}

.modal-footer {
  border-top: 1px solid #eeeeee;
  flex-direction: column;
  justify-content: flex-end;
}

.modal-body {
  color: black;
  position: relative;
  padding: 10px;
}

.btn-green {
  color: white;
  background: #162D1D;
  border: none;
  border-radius: 12px;
  padding: 12px;
}
</style>