<template>
  <div>
    <table  class="custom-table">
      <thead>
      <tr>
        <th>Client</th>
        <th>Order ID</th>
        <th>Livreur</th>
        <th>Date</th>
        <th>État</th>
        <th>Prix</th>
      </tr>
      </thead>
      <tbody>
      <template v-for="(order, index) in orders" :key="index">
        <tr>
          <td class="id">{{ order.userId }}</td>
          <td>{{ order._id }}</td>
          <td>{{ order.delivererId }}</td>
          <td>{{ order.date }}</td>
          <td><button class="state">{{ order.state }}</button></td>
          <td class="price">{{ order.price }}€</td>
        </tr>
      </template>
      </tbody>
    </table>
    <Modal
        v-show="isModalVisible"
        :message="errorMessage"
        @close="closeModal"
    />
  </div>
</template>


<script>
import Modal from "@/components/modal.vue";
import axios from 'axios';
export default {
  data() {
    return {
      errorMessage: '',
      isModalVisible: false
    };
  },
  components: {
    Modal
  },
  props: ['orders'],
  methods: {

    showModal() {
      this.isModalVisible = true;
    },
    closeModal() {
      this.isModalVisible = false;
    }
  }
};
</script>

<style scoped>

.custom-table {
  width: 100%;
  border-collapse: collapse;
}

.custom-table th, .custom-table td {
  padding: 8px;
  border-bottom: 1px solid #ddd;
  vertical-align: top;
}

.custom-table td {
  padding: 24px 8px 24px;
}

.custom-table tbody tr:last-child td {
  border-bottom: none;
}

.custom-table th {
  text-align: left; /* Alignement horizontal */
}

.circle {
  background-color: green;
  width: 56px;
  height: 56px;
  border-radius: 99px;
}

.id, .price {
  color: black;
  font-weight: 500;
}

td {
  color: #c0c0c0;
}

th {
  color: #949494;
}

.state {
  border: solid;
  color: #c0c0c0;
  border-color: green;
  padding: 4px;
  padding-left: 24px;
  padding-right: 24px;
  border-radius: 99px;
  background-color: white;
}

.separator{
  background-color: #c0c0c0;
  width: 100%;
}
</style>