<template>
<div class="panel-container">
    <img :src="inputImage" :alt="input.image" class="input-image" v-if="input.restaurant.image">
    <div class="panel-text-container">
      <h1 class="panel-name">
        {{ input.restaurant.restaurantName }}
      </h1>
      <span class="panel-prix" v-if="input.order.price">
        {{productslength}} plats pour {{ input.order.price }}€
      </span> 
      <span class="panel-date" v-if="input.order.date">
        {{ formattedDate }} 
      </span> 
      <span v-for="product in input.products.product" class="panel-product" v-if="input.products">
        {{ product.name }} 
      </span>
      <span class="panel-state" v-if="input.order.state">
        {{ input.order.state }} 
      </span>
    </div>
</div>
</template>

<script setup>
import { formatDate } from '../utils/dateUtils'; 

const { emit } = defineEmits(['deleteProduct']);

const props = defineProps({
  input: {
    type: Object,
    required: true
  }
});
const input = props.input;
const inputImage =  `/src/assets/restaurant/${input.restaurant.image}`;
let productslength =0;
input.products.map(p=>productslength +=p.count);
const formattedDate = formatDate(input.order.date);
</script>


<style scoped>

.input-image{
  width: 250px;
  height: 150px;
  object-fit: cover;
}

.panel-container{
  width:100%;
  margin: 1vh 0;
  display: flex;
  position: relative;
  padding: 1vw;
  background-color: #162d1d;;
  color: #d6af06;
  border-radius: 5px;
  align-items: center;
  gap:15px;
  padding:15px;
  flex-wrap: wrap;
}
.panel-text-container{
  display: flex;
  flex-direction: column;
}
.delete-product{
  cursor: pointer;
  position: absolute;
    right: 10px;
    top: 10px;
}
</style>

