<template>
  <div class="restaurant-card">
    <div class="restaurant-header">
      <img :src="defaultImg" :alt="defaultImg" class="restaurant-photo">
      <!-- Simplification pour l'exemple -->
      <div class="favorite-button">
        <i class="far fa-heart"></i>
      </div>
    </div>
    <div class="restaurant-body">
      <h2 class="restaurant-name">{{ restaurant.name }}</h2>
      <div class="restaurant-desc">{{ restaurant.description }}</div>
    </div>
  </div>
</template>

<script>
import defaultImg from '../assets/restaurant/burgerKing.jpeg';

export default {
  props: {
    restaurant: Object,
  },
  data() {
    return { defaultImg }
  },
};

</script>

<style scoped>
.restaurant-card {
  width: 343px;
  height: 375px;
  font-family: 'Ubuntu', sans-serif;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
  background-color: #FFFFFF;
  margin: 20px;
  flex: none;
}

.restaurant-header {
  position: relative;
}

.restaurant-photo {
  width: 100%;
  display: block;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.favorite-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #FFFFFF;
  padding: 5px;
  border-radius: 50%;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  font-size: 16px;
  cursor: pointer;
  color: #FFF;
}

.favorite-button i {
  font-size: 24px;
  transition: color 0.2s;
}

.favorite-button .fas {
  color: red;
}

.restaurant-body {
  padding: 8px 16px;
}

.restaurant-name {
  margin: 0;
  color: black;
  font-size: 18px;
  font-weight: bold;
  display: inline;
}

.restaurant-desc {
  color: grey;
}

.restaurant-footer {
  padding: 0 16px 16px 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

</style>
