<template>
  <div v-for="(user, index) in users" :key="index">
    <div class="user">
      <div class="circle"></div>
      <p class="id">{{ user._id }}</p>
      <template v-if="!user.editing">
        <p>{{ user.firstname }}</p>
        <p>{{ user.lastname }}</p>
        <p>{{ user.mail }}</p>
        <p>{{ user.phone }}</p>
        <p>{{ user.role }}</p>
      </template>
      <template v-else>
        <input v-model="user.firstname" placeholder="Prénom">
        <input v-model="user.lastname" placeholder="Nom">
        <input v-model="user.mail" placeholder="E-mail">
        <input v-model="user.phone" placeholder="Téléphone">
        <input v-model="user.role" placeholder="Rôle">
      </template>
      <button class="state" @click="toggleState(index)" :class="{ 'deactivate': user.state === 'Inactif' }">{{ user.state }}</button>
      <button class="edit-button" @click="toggleEdit(index)">{{ user.editing ? 'Terminer' : 'Éditer' }}</button>
      <button class="delete-button" @click="deleteUser(index)">Supprimer</button>
    </div>
    <div class="separator"></div>
  </div>
  <Modal
      v-show="isModalVisible"
      :message="errorMessage"
      @close="closeModal"
  />
</template>

<script>
import Modal from "@/components/modal.vue";
import axios from 'axios';
export default {
  data() {
    return {
      errorMessage: '',
      isModalVisible: false
    };
  },
  components: {
    Modal
  },
  props: ['users'],
  methods: {
    async toggleState(index) {
      // Change l'état de l'utilisateur
      if (this.users[index].state === 'Actif') {
        await axios.put(`http://localhost/api/user/id/${this.users[index]._id}`, {
          state: 'Inactif'
        });
        this.users[index].state = 'Inactif';
        this.errorMessage = 'Compte utilisateur désactivé'
        this.showModal();
      } else {
        await axios.put(`http://localhost/api/user/id/${this.users[index]._id}`, {
          state: 'Actif'
        })
        this.users[index].state = 'Actif';
        this.errorMessage = 'Compte utilisateur activé'
        this.showModal();
      }
    },

    async deleteUser(index) {
      await axios.delete(`http://localhost/api/user/id/${this.users[index]._id}`);
      window.location.reload();
    },

    toggleEdit(index) {
      if(this.users[index].editing === true) {
        this.saveChanges(index);
      }
      this.users[index].editing = !this.users[index].editing;
    },

    async saveChanges(index) {
      await axios.put(`http://localhost/api/user/id/${this.users[index]._id}`, {
        firstname: this.users[index].firstname,
        lastname: this.users[index].lastname,
        mail: this.users[index].mail,
        phone: this.users[index].phone,
        role: this.users[index].role
      });
      // Désactiver le mode d'édition
      this.users[index].editing = false;
    },

    showModal() {
      this.isModalVisible = true;
    },
    closeModal() {
      this.isModalVisible = false;
    }
  }
};
</script>

<style scoped>
.circle {
  background-color: green;
  width: 56px;
  height: 56px;
  border-radius: 99px;
}

.user {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin: 18px 0 18px 0;
}


.id, .username {
  color: black;
  font-weight: 500;
}

p {
  color: #c0c0c0;
}

.state {
  border: solid;
  color: #c0c0c0;
  border-color: green;
  padding: 4px;
  padding-left: 24px;
  padding-right: 24px;
  border-radius: 99px;
  background-color: white;
}

.deactivate {
  border-color: #790E1A;
}

.separator{
  background-color: #c0c0c0;
  width: 100%;
}

.delete-button, .edit-button {
  padding: 12px;
  border-radius: 99px;
  border: none;
  background-color: #790E1A;
  color: white;
}

.edit-button {
  background-color: #9f6e12;
}

.edit-fields {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.edit-fields input {
  margin-bottom: 5px;
}

.edit-fields button {
  padding: 8px;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
}
</style>